<div class="back-one">
	<h class="splash frame-1">MAHVEL</h>
	<h class="splash frame-2">Character Encyclopedia...Kind of</h>
</div>
<div class="bar-one">
	<div class="bar-one-left">
		<button class="browse">Browse</button>
		<button class="btn-letter">A</button>
		<button class="btn-letter">B</button>
		<button class="btn-letter">C</button>
		<button class="btn-letter">D</button>
		<button class="btn-letter">E</button>
		<button class="btn-letter">F</button>
		<button class="btn-letter">G</button>
		<button class="btn-letter">H</button>
		<button class="btn-letter">I</button>
		<button class="btn-letter">J</button>
		<button class="btn-letter">K</button>
		<button class="btn-letter">L</button>
		<button class="btn-letter">M</button>
		<button class="btn-letter">N</button>
		<button class="btn-letter">O</button>
		<button class="btn-letter">P</button>
		<button class="btn-letter">Q</button>
		<button class="btn-letter">R</button>
		<button class="btn-letter">S</button>
		<button class="btn-letter">T</button>
		<button class="btn-letter">U</button>
		<button class="btn-letter">V</button>
		<button class="btn-letter">W</button>
		<button class="btn-letter">X</button>
		<button class="btn-letter">Y</button>
		<button class="btn-letter">Z</button>
	</div>
	<div class="bar-one-right">
		<ul class="heroes">
		</ul>
	</div>
</div>
<div class="back-two">
</div>
<div class="bar-two">
	<div class="photo">
	</div>
	<div class="description">
	</div>	
</div>
<div class="back-three">
</div>

